<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="fragment.html :: header('Home')"></span>
    <link rel="stylesheet" th:href="@{/css/login-css.css}"/>
</head>
<div class="login-page">
    <img th:src="@{/img/ppp.jpg}" alt="" style="background-repeat: no-repeat">
    <div class="login-form-side">
        <form class="login-form" th:action="@{/auth/login}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username"
                       placeholder="Najmiddin...">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign in</button>
        </form>
    </div>

</div>
<section th:include="fragment.html :: js-files">

</section>
</body>
</html>