<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:include="fragment.html :: header('Organization')">
</span>
<style>
    .logos {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
</style>
<body>
<header>
    <section th:include="fragment.html :: navbar"></section>
</header>
<main>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Logo</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Code</th>
            <th scope="col">Projects</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="organization,iter :  ${organizations}">
            <th th:text="${iter.count}"></th>
            <th><img class="logos" th:src="@{${organization.logo}}" alt=""></th>
            <th th:text="${organization.name}"></th>
            <th th:text="${organization.email}"></th>
            <th th:text="${organization.code}"></th>
            <th th:text="${organization.code}"></th>
            <th class="icons">
                <a th:href="@{/templates/organizations/detail/{id}/(id = ${organization.id})}">👁</a>
                <a href="#">🔐</a>
                <a href="#">🔓</a>
                <a th:href="@{/templates/organizations/delete/{id}(id=${organization.id})}">🗑</a>
                <a th:href="@{/templates/organizations/update/{id}(id=${organization.id})}">📝</a>
            </th>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <section th:include="fragment.html :: js-files"></section>
</footer>
</body>
</html>